/* reset */
@import url(./styles/reset.css);

/* variables */
@import url(./styles/variables.css);

/* fonts */
@font-face {
  font-family: "kfa";
  src: url(./fonts/KFAGothicBold.ttf);
}

body {
  width: 100%;
  font-size: 16px;
  font-family: "kfa";
}

/* contents */
header {
  width: 100%;
  position: fixed;
  background: crimson;
  nav {
    width: 1300px;
    height: 100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 10px;
      img {
        display: flex;
        height: 100px;
      }
      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        h3 {
          padding-top: 10px;
          color: var(--main-light-color);
        }
        h4 {
          padding-bottom: 10px;
          color: var(--main-light-color);
        }
      }
    }
  }
  .gnb {
    display: flex;
    gap: 20px;
    li {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.2);
        color: var(--main-light-color);
      }
    }
  }
}

#wrap {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  position: fixed;
  perspective: 3000px;
  & > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
  .circle {
    width: 600px;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;

    transform-style: preserve-3d;
    animation: cyber 30s linear none infinite;
    article {
      margin-top: 50px;
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      h1 {
        position: absolute;
        left: 50px;
        top: 0;
        font-size: 1.87rem;
        opacity: 0;
        transition: all 0.5s;
      }
      &:hover h1 {
        opacity: 1;
        top: -70px;
      }
      .inner {
        width: 100%;
        height: 100%;
        .contents {
          width: 100%;
          height: 100%;
          border: 1px solid #000;
          border-radius: 50px;
          background: rgba(255, 255, 255, 0.5);
          padding: 50px;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          transition: all 0.5s;
          margin-bottom: 20px;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .write {
        width: 100%;
        display: inline-block;
        border: 1px solid #000;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.5);
        opacity: 1;
        padding: 50px;
        position: relative;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.05);
        }
      }

      &.face1 {
        transform: rotateY(0deg) translateZ(-770px);
        .inner {
          .contents {
            width: 100%;
            height: 100%;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .reflection {
            position: absolute;
            top: 100%;
            right: 0;
            transition: all 0.5s;
          }
        }
      }
      &:hover {
        .inner {
          .contents {
            .reflection {
              top: -40%;
            }
          }
        }
      }
      &.face2 {
        transform: rotateY(0deg) translateZ(-770px);
        .inner {
          .contents {
            width: 100%;
            height: 100%;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .reflection {
            position: absolute;
            top: 100%;
            right: 0;
            transition: all 0.5s;
          }
        }
      }
      &:hover {
        .inner {
          .contents {
            .reflection {
              top: -40%;
            }
          }
        }
      }
    }
  }
}

/* @keyframes cyber {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} */
